
PROBLEMAS/01/.vs/problema01/v16/.suo
*.db
*.ipch
*.vcxproj
*.filters
*.user
*.exe
*.ilk
*.log
*.pdb
*.tlog
*.obj
*.idb
PROBLEMAS/02/.vs/02/v16/.suo
*.sln
PROBLEMAS/03/.vs/03/v16/.suo
PROBLEMAS/04/.vs/04/v16/.suo
PROBLEMAS/05/.vs/05/v16/.suo
PROBLEMAS/06/.vs/06/v16/.suo
*.suo
*.enc
